body{
      background-color: rgb(247, 239, 229);
      margin: 12px;
      font-family: sans-serif;
}
h1,h2{
     background-color: rgb(221, 221, 221);
      text-align: center;
      
}
.grid-item{
      border: 2px solid grey;
      margin: 6px;
      border-radius: 6px;
}
img{
      width: 100%;
}
h3{
     text-align: center ;
     background-color: rgb(201, 201, 201);
     padding: 16px;
     margin: 0;

}
p{
      margin: 26px;
}

  #grid-floats{
     display: grid;
     grid-template-columns: repeat(12,1fr);
     grid-gap: 15px;
     padding: 0;
     margin-bottom: 64px;
     list-style: none;
     
}
/* not sure if it is really required 
.grid-item{
      grid-column: span 6;
}
.grid-item:first-child {
    grid-column: span 12;

}*/
  @media (min-width: 500px) {
     .grid-item {
      grid-column: span 12;
        background-color: rgb(177, 230, 230); 

      }


      }
      
  @media (min-width:768px) {
      .grid-item{
            grid-column: span 4;
      }
     
      .grid-item:first-child{
            grid-column: span 6; /* The first two items span 2 columns */
      }
      
      .grid-item:nth-child(2) {
            grid-column: span 6;
      }
 
   
}
@media  (min-width:1024px) {
       .grid-item {
          grid-column: span 3;
      }
  
       .grid-item:first-child {
          grid-column: span 6; /* Makes the first item span 6 columns */
      }
      .grid-item:nth-child(2) {
            grid-column: span 3;
        }
  
  }
/* grid flex */


      #grid-flex{
            display: flex;
            flex-wrap: wrap;
            grid-gap: 15px;
            list-style: none;
            padding: 0;
            margin: 0;
           
            
      }
    #grid-flex .grid-item{
       max-width: calc(50% - 8px);
      }
        
      
      @media (min-width: 500px) {
            #grid-flex .grid-item {
                max-width: calc(100%);
            }
        
            #grid-flex .grid-item:first-child,
            #grid-flex .grid-item:nth-child(2) {
                max-width: calc(100%);
            }
        }
        
              
      @media (min-width: 768px) {
            #grid-flex .grid-item {
                max-width: calc(30% - 11px);
            }
        
            #grid-flex .grid-item:first-child,
            #grid-flex .grid-item:nth-child(2) {
                max-width: calc(45% - 8px);
            }
        }
        
        @media (min-width: 1024px) {
            #grid-flex .grid-item,
            #grid-flex .grid-item:nth-child(2) {
                max-width: calc(22.12% - 12px);
            }
        }